
form.bg-base-200.shadow-lg {

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.3s ease-in-out;

}

.input-bordered:focus,
.select-bordered:focus,
.textarea-bordered:focus,
.file-input-bordered:focus {
    outline: none; /* إزالة الـ Outline الافتراضي للمتصفح */
    
    /* لون التركيز الأزرق القياسي في Material */
    --focus-color: #4285f4; 
    
    /* تطبيق تأثير التركيز (Focus Ring) الخارجي والداخلي */
    box-shadow: 0 0 0 1px var(--focus-color) inset, /* حد داخلي لوني خفيف */
                0 0 0 4px rgba(66, 133, 244, 0.3); /* حلقة خارجية ناعمة */
    
    border-color: var(--focus-color); /* تأكيد لون الحد */
    
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.btn-primary {
    /* إضافة ظل بسيط لجعله يبدو "مرفوعاً" */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.btn-primary:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* ظل أعمق عند التحويم */
}

.btn-primary:active {
    /* تأثير الضغط */
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.input-bordered,
.select-bordered,
.textarea-bordered {
    background-color: white !important; /* فرض الخلفية البيضاء */
}
.btn-primary{
    background: linear-gradient(135deg, #ab8c5a, #c2a77b);
    color: white;
    box-shadow: 0 6px 20px rgba(255, 182, 193, 0.3);
    border: 0;
    height: 53px;
    border-radius: 8px;
}
.input-bordered, .select-bordered, .textarea-bordered {
    background-color: white !important;
    height: 50px;
    border-radius: 10px;
}

/* CARD */
.card {
  background-color: #f8f8f8; /* رمادي فاتح */
  border: 1px solid #ba9d73; /* رولز جولد border خفيف */
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: none; /* إزالة shadow */
}
.btn-info , .btn-error , .btn-warning  {
    --btn-color: transparent;
    --btn-fg: transparent;
}
/* Card Name */
.card h3 {
  color: #bda077; /* روز جولد */
  font-weight: 700;
  margin: 15px 0;
}

/* Labels (يمكن تستخدم p قبل القيم) */
.card p {
  font-weight: 600;
  color: #0d1b38; /* كحلي */
}

/* القيم نفسها داخل p */
.card p span {
  color: #b565a7; /* رولز جولد */
  font-weight: 600;
}

/* Buttons */
.btn-info,
.btn-error , .btn-warning{
  background: linear-gradient(135deg, #ab8c5a, #c2a77b); /* رولز جولد */
  color: #fff;
  border: none;
  font-weight: 600;
  transition: all 0.3s;
      padding: 10px 25px;
    border-radius: 7px;
}
.overflow-x-auto{
    scrollbar-width: thin;
}
.scroll{
    overflow: auto;
    height: 70vh;
    scrollbar-width: thin;
    scrollbar-color: #c2a77b #f9f9f9;
}
.btn-info:hover,
.btn-error:hover , 
.btn-warning:hover{
  transform: scale(1.05);
}

/* صور الكارد */
.card img {
  border-radius: 0.5rem;
}
